.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.Pic {
  margin-top: 1em;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  object-fit: cover;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #DA7C25 0.36%, #0015ff 102.36%);
  background-size: 1000% 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 10s infinite ease-in-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 25% 40%;
  }
  40% {
    background-position: 50% 60%;
  }
  60% {
    background-position: 75% 40%;
  }
  80% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DA7C25 0.36%, #0015ff 102.36%);
  cursor: pointer;
  background-size: 1000% 1000%;
  animation: gradientMove 9.5s infinite ease-in-out;
  transition: ease-in 0.5s;
}

.hero-myresume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-connect:hover {
  transform: scale(1.05);
}

.hero-myresume:hover {
  border-color: #b415ff;
}

.text-2xl{

  color: black;
}

